
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #666666;
    padding: 20px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #388E3C;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    background-image: url('https://img.freepik.com/premium-vector/cartoon-grocery-store-with-sign-that-says-all-products_955834-63742.jpg?semt=ais_hybrid'); /* Replace with your own image */
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #666666;
}

/* Footer */
footer {
    background-color: #666666;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
